<div class="row">
  <span class="col-md-4" style="color:#134E69">
    Related to 
    <script type="text/ng-template" id="topics-popover.html">
      <input type="text" autofocus ng-model="feed.topics" class="form-control">
    </script>
    <strong class="dotted" type="button" popover-placement="bottom" uib-popover-template="'topics-popover.html'" popover-animation="true">{{feed.topics}}</strong>
  </span>
  <span class="col-md-4">
  </span>
  <span class="col-md-4" style="text-align:right">
    <span class="glyphicon glyphicon-menu-down"></span>
    Sorted by 
    <script type="text/ng-template" id="sort-popover.html">
      <select class="form-control" ng-model="feed.sort" style="width: 130px">
        <option>Interesting</option>
        <option>Most Recent</option>
        <option>Featured</option>
      </select>
    </script>
    <strong class="dotted" type="button" popover-placement="bottom" uib-popover-template="'sort-popover.html'" popover-animation="true" popover-is-open="">{{feed.sort}}</strong>
  </span>
</div>
<br>
<ul class="list-group" id="accordion" >
  <li class="list-group-item panel" ng-repeat="query in feed.queries | filter:search.phrase | orderBy:feed.sortKey()">
    <img ng-src="{{query.ownerPic}}" alt="Profile picture" class="img-circle" width="30" height="30" style="margin-right: 5px">
    <span class="badge alert-success">{{query.category}}</span>
    <a data-toggle="collapse" data-parent="#accordion" ng-href="#collapse{{$index}}">
      <b>{{query.question}}</b>
    </a>
    <div id="collapse{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>{{query.description}}</p>
        <p class="text-right">{{query.date | date:'medium'}}</p>
        <br>
        <!-- Begin Comments -->
        <div ng-repeat="comment in query.comments">
          <img ng-src="{{comment.ownerPic}}" alt="Profile picture" class="img-circle" width="25" height="25" style="top: 5px; position: relative;">
          <p class="comment">
            {{comment.text}}
            <br>

            <span>{{comment.date | date:'medium'}}</span>
          </p>
        </div>
        <div>
          <img ng-src="../images/me.jpg" alt="Profile picture" class="img-circle" width="25" height="25" style="top: 5px; position: relative;">
          <p class="comment" style="padding: 5px">
            <input type="text" class="form-control" ng-model="feed.comment" placeholder="Add a comment..." size="100" ng-keydown="feed.validateKey($event,query._id, feed.comment)">
          </p>
        </div>
        <!-- End Comments -->
        <div class="row">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <p class="text-right"><a class="btn btn-primary" href="#" role="button" style="right:0px"><span class="glyphicon glyphicon-check"></span> Connect Now</a></p>
          </div>
        </div>

      </div>
    </div>
  </li>
</ul>
