<!-- Query Submission -->
<div ng-if="query.show" class="animation">
  <div class="well">
    <button type="button" class="close" aria-label="Close" ng-click="query.hide()"><span aria-hidden="true">&times;</span></button>
    <form action="">
      <div class="form-group">
        <label for="qeury-title">Title</label>
        <input type="text" id="query-title" class="form-control" placeholder="Question" ng-model="query.question">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-8"><label for="query-description">Description</label></div>
          <div class="col-md-4 text-right">
            <a ng-hide="query.richText" ng-click="query.toggleEditor()">Switch to rich editor <i class="fa fa-caret-square-o-down"></i></a>
            <a ng-show="query.richText" ng-click="query.toggleEditor()">Switch to simple editor <i class="fa fa-caret-square-o-up"></i></a>
          </div>
        </div>
        <textarea rows="3" id="query-description" maxlength="1000" placeholder="Description" ng-model="query.description" autofocus ng-keydown="query.validateKey($event, query.question, query.description, query.tags)" ng-hide="query.richText" class="query-text-area"></textarea>
        <text-angular ng-model="query.description" placeholder="Description" autofocus ng-show="query.richText"></text-angular>
      </div>
      <div class="row">
        <div class="col-md-10">
          <span class="form-group form-inline">
            <label for="qeury-tags" style="margin-right: 10px">Tags</label>
            <input type="text" id="query-tags" class="form-control" uib-typeahead="category.name for category in categories | filter:$viewValue | limitTo:1" placeholder="Choose tags" ng-model="query.tags" style="width: 300px" ng-keydown="query.validateKey($event, query.question, query.description, query.tags)">
          </span>
        </div>
        <div class="col-md-2 text-right">
          <input type="submit" class="btn btn-success" value="Submit" ng-click="query.addQuery(query.question, query.description, query.tags)" >
        </div>
      </div>
    </form>
  </div>
</div>
