<div>
  <a class="navbar-brand logo" href="#/" style="margin-bottom: 20px">
    <img src="images/logo-small.png" alt="logo">
  </a>
</div>

<ul class="list-group">
  <li class="list-group-item no-background panel" ng-show="menu.loggedIn" style="text-align: center" ng-mouseover="menu.logoutOption = true" ng-mouseleave="menu.logoutOption = false">
    <img ng-src="{{menu.user.pic}}"  alt="" class="img-rounded" width="100px" max-width="200px">
    <br>
    <big>{{menu.user.name}}</big>
    <div ng-if="menu.logoutOption" class="fade-animation" style="text-align:center">
      <a href="" ng-click="menu.logOut()"><b>Log Out</b></a>
    </div>
  </li>
  <li class="list-group-item no-background panel" ng-hide="menu.loggedIn" style="text-align: center">
    <a href="" ng-click="showSignUpModal()"><b>Sign Up</b></a>
  </li>
  <li class="list-group-item no-background panel" ng-hide="menu.loggedIn" style="text-align: center">
    <a href="" ng-click="showLogInModal()"><b>Log In</b></a>
  </li>
  <li class="list-group-item no-background panel" ng-repeat="item in menu.menuItems" ng-class="{'menu-active': menu.isCurrent($index)}">
    <!-- <a ng-href="{{item.url}}"> -->
      <img ng-src="{{item.icon}}" alt="{{item.title}}" width="50px" ng-mouseover="menu.toggleActive($index)" ng-mouseleave="menu.toggleActive($index)" ng-click="menu.setCurrent($index)" style="margin-left: 25px">
    <!-- </a> -->
    <span class="badge" ng-show="{{item.badge > 0}}">{{item.badge}}</span>
    <div ng-if="menu.active===$index" class="fade-animation" style="text-align:center">
      <b>{{item.title}}</b>
    </div>
  </li>
</ul>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>