<div class="modal" id="signUpForm" tabindex="-1" role="dialog" aria-labelledby="signUpLabel" style="overflow: hidden">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="text-align:center">
      <div class="modal-body">
        <button type="button" class="close" ng-click="hideSignUpModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><b>JOIN HAND BY HAND</b></h3>
        <h4>Become a member in just a few steps</h4>
      </div>
      <div class="modal-body" ng-if="signup.step == 1">
        <form action="" name="SignUpForm">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="thumbnail" style="height: 270px; background-color: lightblue" ng-controller="DropCtrl" dropzone="dropzoneConfig" id="test">
                <!-- <img src="" alt="..."> -->
                <span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true" style="font-size: 72px; top: -36px; margin-top: 50%"></span><br>
                Drag and drop files here or click to upload
              </a>
              <div class="dz-preview dz-file-preview" id="preview" style="display: none;">
                <div class="dz-details">
                  <img class="img-rounded" class="dz-image" data-dz-thumbnail />
                </div>
              </div>
              <span>{{signup.profilePicHelper}}</span>
            </div>
            <div class="col-sm-6">
              <!-- Name -->
              <div class="input-group" ng-class="{'has-success': SignUpForm.username.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input autofocus name="username" type="text" class="form-control" ng-model="signup.user.name" placeholder="What's your name?" ng-keydown="signup.validateKey($event)">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="SignUpForm.username.$dirty" aria-hidden="true"></span>
              </div>
              <!-- Email -->
              <div class="input-group has-feedback" ng-class="{'has-error': !signup.emailValid && SignUpForm.email.$dirty, 'has-success': signup.emailValid && SignUpForm.email.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input name="email" type="email" class="form-control" placeholder="Email" ng-model="signup.user.email" ng-change="signup.emailValidator()" novalidate ng-keydown="signup.validateKey($event)">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="!signup.emailValid && signup.emailDirty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="signup.emailValid && signup.emailDirty" aria-hidden="true"></span>
              </div>
              <div class="" ng-show="signup.emailDirty">
                <span class="help-block">{{signup.emailError}}</span>
              </div>
              <!-- Password -->
              <div class="input-group has-feedback" ng-class="{'has-error': !signup.passwordValid && signup.passwordDirty, 'has-success': signup.passwordValid && signup.passwordDirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                <input name="password" type="password" class="form-control" ng-model="signup.user.password" ng-change="signup.passwordValidator()" placeholder="Enter password" ng-keydown="signup.validateKey($event)">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="!signup.passwordValid && signup.passwordDirty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="signup.passwordValid && signup.passwordDirty" aria-hidden="true"></span>
              </div>
              <div class="" ng-show="signup.passwordDirty">
                <span class="help-block">{{signup.passwordError}}</span>
              </div>
              <div class="hline">
                <span>OR</span>
              </div>
              <div>
                <a class="btn btn-block btn-social btn-facebook">
                  <span class="fa fa-facebook"></span> Connect with Facebook
                </a>
                <a class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span> Connect with Google
                </a>
              </div>
              <br><br>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body" ng-if="signup.step == 2">
        <form action="" name="SignUpForm">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group" style="text-align: left">
                <div class="form-group">
                  <label><i class="glyphicon glyphicon-education"></i> Education</label>
                  <select class="form-control" ng-model="signup.user.education" ng-keydown="signup.validateKey($event)">
                    <option ng-repeat="education in educations">{{education}}</option>
                  </select>
                </div>
                <div class="form-group">
                   <label><i class="fa fa-smile-o"></i> Interest topics</label>
                  <input type="text" class="form-control" ng-model="signup.user.interests" placeholder="What are your top interests?" ng-keydown="signup.validateKey($event)">
                </div>
                <div class="form-group">
                  <label><i class="glyphicon glyphicon-briefcase"></i> Occupation</label>
                  <input type="text" class="form-control" ng-model="signup.user.profession" uib-typeahead="occupation for occupation in occupations | filter:$viewValue | limitTo:8" placeholder="What do you do for a living?" ng-keydown="signup.validateKey($event)">
                </div>
                <div class="form-group">
                  <label><i class="fa fa-globe"></i> Spoken languages</label>
                  <input type="text" class="form-control" ng-model="signup.user.languages" uib-typeahead="language.name for language in languages | filter:$viewValue | limitTo:8" placeholder="What languages are you fluent in?" ng-keydown="signup.validateKey($event)">
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <img src="images/education.jpg" alt="" width="250" height="250">
            </div>
          </div>
         
        </form>
      </div>
      <div class="modal-body" ng-if="signup.step == 3">
        <form action="" name="SignUpForm">
          <div class="form-group" style="text-align: left">           
            <textarea class="form-control" rows="10">
              1. Terms

              By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.

              2. Use License

              Permission is granted to temporarily download one copy of the materials (information or software) on wizer's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
              modify or copy the materials;
              use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
              attempt to decompile or reverse engineer any software contained on wizer's web site;
              remove any copyright or other proprietary notations from the materials; or
              transfer the materials to another person or "mirror" the materials on any other server.
              This license shall automatically terminate if you violate any of these restrictions and may be terminated by wizer at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.

              3. Disclaimer

              The materials on wizer's web site are provided "as is". wizer makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, wizer does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
            </textarea>
            <div>
              <br>
              <label>
                <input type="checkbox" required> I agree to the terms of use
              </label>
              <br>
              <label>
                <input type="checkbox" required> I have a bank account
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-9" style="text-align: left; padding:0px">
          <button type="button" class="btn btn-danger" ng-if="signup.step>1" ng-click="signup.prev()">Go Back</button>
          <div class="alert alert-danger" role="alert" ng-if="signup.alert" style="padding: 7px 20px 7px 20px; margin-bottom: 0px">Please finish filling out the necessary fields</div>
        </div>
        <div class="col-md-3" style="text-align: right; padding:0px">
          <button type="button" class="btn btn-success" ng-click="signup.next()" ng-disabled="SignUpForm.$valid">{{signup.step < 3 ? "Next Step" : "Finish"}}</button>
        </div>
      </div>
    </div>
  </div>
</div>