<div class="modal" id="signUpForm" tabindex="-1" role="dialog" aria-labelledby="signUpLabel" style="overflow: hidden">
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="text-align:center" ng-init="signup.step = 1">
      <div class="modal-body">
        <button type="button" class="close" ng-click="signup.hide()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><b>JOIN HAND BY HAND</b></h3>
        <h4>Become a member in just a few steps</h4>
      </div>
      <div class="modal-body" ng-if="signup.step == 1">
        <form action="" name="SignUpForm">
          <div class="row">
            <div class="col-sm-6">
              <a href="#" class="thumbnail" style="height: 270px; background-color: lightblue" ng-controller="DropCtrl" dropzone="dropzoneConfig" id="test">
                <!-- <img src="" alt="..."> -->
                <span class="glyphicon glyphicon glyphicon-camera" aria-hidden="true" style="font-size: 72px; top: -36px; margin-top: 50%"></span><br>
                Drag and drop files here or click to upload
              </a>
              <div class="dz-preview dz-file-preview" id="preview" style="display: none;">
                <div class="dz-details">
                  <img class="img-rounded" class="dz-image" data-dz-thumbnail />
                </div>
              </div>
              <span>{{signup.profilePicHelper}}</span>
            </div>
            <div class="col-sm-6">
              <!-- Name -->
              <div class="input-group" ng-class="{'has-success': SignUpForm.username.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input name="username" type="text" class="form-control" ng-model="name" placeholder="What's your name?">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="SignUpForm.username.$dirty" aria-hidden="true"></span>
              </div>
              <!-- Email -->
              <div class="input-group" ng-class="{'has-error': SignUpForm.email.$invalid, 'has-success': SignUpForm.email.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input name="email" type="email" id="email" class="form-control" placeholder="Email" ng-model="email">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="SignUpForm.email.$dirty" aria-hidden="true"></span>
              </div>
              <div class="" ng-messages="SignUpForm.email.$error">
                <span class="help-block" ng-message="email">Email address is not valid</span>
              </div>
              <!-- Password -->
              <div class="input-group has-feedback" ng-class="{'has-error': SignUpForm.password.$invalid, 'has-success': SignUpForm.password.$valid && SignUpForm.password.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></div>
                <input name="password" type="password" class="form-control" ng-model="password" password placeholder="Enter password">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="SignUpForm.password.$invalid" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="SignUpForm.password.$valid && SignUpForm.password.$dirty" aria-hidden="true"></span>
              </div>
              <div class="" ng-messages="SignUpForm.password.$error">
                <span class="help-block" ng-message="numberValidator">Password should contain numbers</span>
                <span class="help-block" ng-message="uppercaseValidator">Password should contain uppercase letters</span>
                <span class="help-block" ng-message="lowercaseValidator">Password should contain lowercase letters</span>
                <span class="help-block" ng-message="sixCharactersValidator">Password should contain at least 6 characters</span>
              </div>
              <!-- Confirm -->
              <!-- <div class="input-group has-feedback" ng-class="{'has-error': confirm != password && SignUpForm.confirm.$dirty, 'has-success': confirm == password && SignUpForm.confirm.$dirty}">
                <div class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></div>
                <input name="confirm" type="password" class="form-control" ng-model="confirm" placeholder="Confirm password">
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="confirm != password && SignUpForm.confirm.$dirty" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="confirm == password && SignUpForm.confirm.$dirty" aria-hidden="true"></span>
              </div> -->
              <div class="hline">
                <span>OR</span>
              </div>
              <div>
                <a class="btn btn-block btn-social btn-facebook">
                  <span class="fa fa-facebook"></span> Connect with Facebook
                </a>
                <a class="btn btn-block btn-social btn-google">
                  <span class="fa fa-google"></span> Connect with Google
                </a>
              </div>
              <br><br>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-body" ng-if="signup.step == 2">
        <form action="" name="SignUpForm">
          <div class="form-group" style="text-align: left">
            <label class="control-label">Education</label>
            <select class="form-control">
              <option>High school student</option>
              <option>High school graduate</option>
              <option>College student</option>
              <option>Associate degree</option>
              <option>Bachelor's degree</option>
              <option>Master's degree</option>
              <option>Professional degree</option>
              <option>Doctorate</option>
            </select>
            <label class="control-label">Interest topics</label>
            <input type="text" class="form-control" placeholder="" ng-model="interests">
            <label class="control-label">Profession</label>
            <input type="text" class="form-control" placeholder="" ng-model="profession">
            <label class="control-label">Spoken languages</label>
            <input type="text" class="form-control" placeholder="" ng-model="languages">
          </div>
        </form>
      </div>
      <div class="modal-body" ng-if="signup.step == 3">
        <form action="" name="SignUpForm">
          <div class="form-group" style="text-align: left">
            <label>
              <input type="checkbox"> I have a bank account
            </label>
            <textarea class="form-control" rows="3">
              Terms of use
              ------------
              1. bla bla bla bla bla bla bla
              2. bla bla bla bla bla bla bla
              3. bla bla bla bla bla bla bla
            </textarea>
            <label>
              <input type="checkbox"> I agree to the terms of use
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-md-3" style="text-align: left; padding:0px">
          <button type="button" class="btn btn-danger" ng-if="signup.step>1" ng-click="signup.step = signup.step - 1">Go Back</button>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3" style="text-align: right; padding:0px">
          <button type="button" class="btn btn-success" ng-click="signup.next()">{{signup.step < 3 ? "Next Step" : "Finish"}}</button>
        </div>
      </div>
    </div>
  </div>
</div>